/* .navigatio {
    position: sticky;
    top: 0;
    width: 100%;
    padding-top: 60px;
    overflow: hidden;
    background-color: #333;
} */
/* .navigation2 {
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 60px;
    overflow: hidden;
    background-color: #333;
} */

.nav-title {
    font-family: "Tangerine";
    font-size: 75px;
    text-shadow: 4px 4px 4px #aaa;
    color: #0004BF;
}

/* NavLink {
    font-family: "Tangerine";
    text-shadow: 4px 4px 4px #aaa;
    text-decoration: none;
    color: black;
} */
.main-title {
    font-family: "Concert One";
    font-size: 75px;
}

.nav-item {
    font-family: "Montserrat";
    color: #590212;
    font-size: x-large;

}
.main-row {
    margin-bottom: 200px;
}
.footer {
    padding: 5px;
    height: 5px;
    text-align: center;
    text-justify: auto;
    margin-bottom: 500px;
}

.navbar-text {
    font-family: "Lemonada";
    font-weight: bolder ;
    font-size: x-large;
    margin-left: 100px;
    color: red;

}

.navtext {
    color: #161510;
}

.buttoncolor {
    color:#590212;
}


