svg {
    display: block;
    margin: auto;
   
}

.main-graph {
    background-color:#D9D9D9;
}
.main-graph-maternal {
    background-color:#D9D9D9;
}
.main-graph-fetal {
    background-color:#D9D9D9;
}
.main-graph-maternal-bp {
    background-color:#D9D9D9;
}

.container{
    justify-content: center;
    align-content: center;

}



.header {
    background-color: lightblue;
}
.navigation {
    background-color: lightpink;
}
.left-sidebar {
    background-color: lightslategray;
}
.main-page {
    
    background-color: grey;
}
.right-sidebar {
    background-color: lightsalmon;
}
.display-zone {
    background-color: lemonchiffon;
}
.footer {
    background-color: lightskyblue;
}

#display-toggle {
    margin: 95%;
    padding: 0;
}

div.navigation > nav {
    display: flex;
    border: black solid 1px;
    background-color: limegreen;
    box-shadow: 10px 5px 5px whitesmoke;

}

.nav1 {
  
}
.nav2 {
    
}
.nav3 {
    
}
.nav4 {
    
}
.nav5 {
    
}

.highlight {
    background-color: cornflowerblue;
}
.main-page{
  
   
}

.y-axis-group-text {
   color:red;
}

.line {
    fill: none;
    stroke: #0401E7;
}
.action-line {
    fill:none;
    stroke: red;
    stroke-linecap: round;
}

.custom-line {
    
    stroke:#FFC700;
    stroke-linejoin: round;
    stroke-width: 3;
  

}
#high-sys-line {
   
    stroke:#D9184B;
    stroke-linejoin: round;
    stroke-width: 1;
  

}
#low-sys-line {
    
    stroke:#FFC700;
    stroke-linejoin: round;
    stroke-width: 1;
}
#custom-sys-line {
   
    stroke:#FFC700;
    stroke-linejoin: round;
    stroke-width: 1;
}


#high-dias-line {
   
    stroke:#730202;
    stroke-linejoin: round;
    stroke-width: 2;
}
#low-dias-line {
   
    stroke:#0D7339;
    stroke-linejoin: round;
    stroke-width: 1;
}
#custom-dias-line {
   
    stroke:#0D7339;
    stroke-linejoin: round;
    stroke-width: 1;
}

#custom-input {
    border: red solid 1px;
}

.popover {
    pointer-events: none;
}

.paper {
    padding:1;
}
